
<app-header></app-header>

<app-title ></app-title>

<div class="container-fluid p-0 mt-4 px-4">
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Bill No</th>
        <th scope="col">Date</th>
        <th scope="col">Shop/Company/Person</th>
        <th>Description</th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of tableData">
        <td ><i [ngClass]="data.icon"></i></td>
        <td>{{data.billno}}</td>
        <td>{{data.billDate}}</td>
        <td>{{data.billReceivedFrom}}</td>
        <td>{{data.billDescription}}</td>
        
        <td>
          <i class="fas fa-indian-rupee-sign icon1 pe-2"></i>
          {{data.billAmount}}
      </td>
      <td>
        <i class="fa-solid fa-pencil text-muted icon pe-3" (click)="EditButton(data.billId)"   data-bs-toggle="modal" data-bs-target="#myModal"></i>   
        <i class="fa-solid fa-trash text-muted icon" (click)="DelButton(data.billId)" ></i> 
      </td>
      </tr>
    </tbody>
  </table>

</div>
<app-addbills ></app-addbills>




