<app-card-title ></app-card-title>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 mb-4 one d-flex flex-column align-items-center justify-content-center">
      <div>
        <button type="button" style="font-size: 30px; color: antiquewhite; background: none; border: none;" class="bi bi-plus-circle" data-bs-toggle="modal" data-bs-target="#myModal">  </button>
      </div>
      <p style="color: antiquewhite; padding-top:-20px;">Add Bill</p>
    </div>
    <div class="col-lg-3 mb-4 two d-flex" *ngFor="let data of cardDetails; let i = index" [style.border-color]="getColors(data.id)" (click)="goTo(data.id)">
      <div class="side1 d-flex flex-column justify-content-between ps-2" [style.background-color]="getColors(data.id)">
        <div class="text-white head">{{data.catName}}</div>
        <div class="icon d-flex">
          <div class="icons text-white">
            <i *ngFor="let icon of getIcon(data.id)" [ngClass]="icon"></i>
          </div>
        </div>
        <div class="list text-white pb-2">{{data.description}}</div>
      </div>
      <div class="side2 py-5 ps-4 ">
        <div>
          <p class="text-muted">Total Spend</p>
          <h4 class="amount " [style.color]="getColors(data.id)"><i class="fas fa-indian-rupee-sign pe-3" [style.color]="getColors(data.id)"></i>{{catIdTotal[i]}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
